@using dParadig.ViewModels
@model List<HorariosVM>

<div class="panel panel-primary" style="margin: 30px;">
  <div class="panel-heading">Horarios Asignados
  </div>
 <div class="panel-body">
    <p>Se visualizan la cantidad de reuniones por día que deberian tener los jefes de Área (archivo: "<b>Horarios.txt</b>").</p>
    <p>Si no se encuentra horario en el archivo se le asigna 0.</p>
  </div>
  <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Jefe de Área
            </th>
            <th>
                Cant. Lunes
            </th>
            <th>
                Cant. Martes
            </th>
            <th>
                Cant. Miercoles
            </th>
            <th>
                Cant. Jueves
            </th>
            <th>
                Cant. Viernes
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
    @foreach (HorariosVM item in Model)
    {
        <tr>
            <td>
                @item.NombreJefe
            </td>
            <td style="text-align:center;">
                @item.Lunes
            </td>
            <td style="text-align:center;">
                @item.Martes
            </td>
            <td style="text-align:center;">
                @item.Miercoles
            </td>
            <td style="text-align:center;">
                @item.Jueves
            </td>
            <td style="text-align:center;">
                @item.Viernes
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", item.IdJefe)
            </td>
        </tr>
        }
        </tbody>
    
    </table>
    </div>
